# Python First Steps: Fundamentals and Core Concepts

GitHub repo: https://github.com/reuven/oreilly-first-steps-october-2020

In [1]:
print('hello')  # shift+enter == run the cell

hello

In [4]:
print('a')   # enter goes down one line
print('b')   # enter again goes down one line
print('c!!!')   # shift+enter executes the entire cell

a
b
c!!!

In [3]:
# REPL -- read, eval, print loop

In [6]:
# green outline -- edit mode, I can change the contents of the cell
#    to get into edit mode, press ENTER

# blue outline -- command mode, I can tell Jupyter what to do
#   to get there, press ESC or click on the left

In [8]:
# in Jupyter, if the final line of a cell is an expression,
# then we get the value of that expression back.  No "print" is needed!

10 + 3   # this is an "expression" -- it returns a value, it has a value

13

In [9]:
5 + 2

7

In [10]:
10 * 8

80

In [11]:
# variables are where we store data

# variables are pronouns for data

10 + 3

13

In [13]:
# define a variable, x, to contain the value 10
x = 10    # this is *NOT* about equality!  This is about *assignment*.

In [14]:
x + 3

13

In [15]:
y = x + 3

y

13

In [16]:
y = y + 5   # first evaluate y + 5, then assign that value to y

y

18

In [17]:
x = 'hello'    # this is a "string" -- computer-speak for "text"
y = 'goodbye'

x + y

'hellogoodbye'

In [18]:
# Python treats different data structures differently!

# integers (whole numbers) and strings (text) can both be assigned to a variable...
# but they can do different things, and they generally cannot be mixed.

In [19]:
x = '10'  # this is a string containing '10'
y = '5'     # this is a string (whole number) containing '5'

x + y

'105'

In [20]:
x = '10'   # this is a string containing '10'
y = 5    # this is an integer (whole number) containing 5

x + y

TypeError: can only concatenate str (not "int") to str

In [21]:
x = 10
y = 3

x + 3   # addition

13

In [22]:
x - 3

7

In [23]:
x * 3  # notice, we use * in programming for multiplication

30

In [24]:
x / 3  # we use / for division

3.3333333333333335

In [25]:
x ** 3   # we use ** for exponentiation

1000

In [26]:


x % 3   # we use % for modulus -- meaning, return the remainder from division

1

In [27]:
x % 3  # x is 10, so this means: divide 10 by 3, and return the remainder

1

In [28]:
20 % 6  # what's the remainder after dividing 20 by 6?

2

In [29]:
# static vs. dynamic typing
#  are variables restricted to using certain types? (static typing)
#   or can any variable contain any type (dynamic typing)   ********

# strong vs. weak typing

#   are types kept separate from one another?  (strong typing)   *******
#   can a value be turned into another automatically (weak typing)

# Exercises:

1. Simple calculator: Assign two integer (whole number) values to two different variables. Put the result into a third variable, and then print the value of that third variable.  (Note: Don't try to mix text and numbers when printing!)

In [30]:
x = 123
y = 456

total = x + y

print(total)

579

2. Assign a name (maybe even your name!) to a variable, `name`. Print a greeting to that person.

In [31]:
name = 'Reuven'
print('Hello, ' + name)

Hello, Reuven

In [32]:
print('a' + 'b') # this means: combine 'a' and 'b' into 'ab', and print them

ab

In [33]:
print('a', 'b')  # this means: print 'a', then a space, then 'b'

a b

In [37]:
print(5)  # print can work with anything!

5

In [35]:
print(5+3)

8

In [36]:
print('abcd')

abcd

In [38]:
print('My favorite number is ' + 5) # this will fail

TypeError: can only concatenate str (not "int") to str

In [39]:
x = 10

X * 5  # this will fail

NameError: name 'X' is not defined

https://jupyter.org

In [40]:
x = 5
y = 5

z = x + y
z

10

In [41]:
x = 2
z   # since we haven't updated the value of z since the last assignment, it remains 10

10

In [42]:
name = 'Reuven'
print('Hello, ' + name)

Hello, Reuven

In [43]:
# the "input" function asks the user a question, and returns their answer (as a string)

input('Enter your name: ')

Enter your name: Reuven

'Reuven'

In [44]:
# what I usually want is to get the user's name and then assign it to a variable

name = input("Enter your name: ")

Enter your name: Whatever

In [45]:
print('Hello, ' + name)

Hello, Whatever

In [46]:
number = input("Enter your favorite number: ")

Enter your favorite number: 72

In [47]:
number

'72'

In [48]:
number + 1

TypeError: can only concatenate str (not "int") to str

In [49]:
number * 3

'727272'

In [50]:
name = 'Reuven'

print('Hello, ' + name + '.  How are you today?')

Hello, Reuven.  How are you today?

In [51]:
print('Hello, ' + name + '.  How are you today, ' + name + '?')

Hello, Reuven.  How are you today, Reuven?

In [52]:
# f-string ("format strings") to the rescue!

# put a lowercase f before the opening quote

print(f'Hello, {name}. How are you today, {name}?')

Hello, Reuven. How are you today, Reuven?

In [53]:
x = 5
y = 3
z = x + y

In [54]:
print(f'{x} + {y} = {z}')  # f-strings turn everything into a string... including numbers

5 + 3 = 8

In [55]:
print(f'{x} + {y} = {x+y}')   # a Python expression in the curly braces!

5 + 3 = 8

In [56]:
x

5

In [57]:
type(x)

int

In [58]:
y = '123'  # digits, but in a string

type(y)

str

In [59]:
type(8)

int

In [60]:
x = 5
y = 3

type(x+y)

int

In [61]:
# why use f-strings?
# (1) it's easier than having +  +  +  + + between text and variables
# (2) it handles integers and other non-string values very nicely

In [62]:
x = 10
y = 'abcd'

f'x is {x} and y is {y}'

'x is 10 and y is abcd'

In [63]:
print(f'x is {x} and y is {y}')

x is 10 and y is abcd

# Exercise

1. Ask the user to enter two pieces of information, their name and their city.  These should be put into two separate variables, `name` and `city`.

2. Print a nice greeting to the user, indicating their name and city.

In [64]:
name = input("Enter your name: ")
city = input("Enter your city: ")

Enter your name: Reuven
Enter your city: Modi'in

In [65]:
name

'Reuven'

In [66]:
city

"Modi'in"

In [67]:
print(f'Hello, {name} from {city}!')

Hello, Reuven from Modi'in!

In [68]:
x = 10
y = 'abcd' 

f'x is {x} and y is {y}'

'x is 10 and y is abcd'

In [69]:
x = 10
y = 10

# how do I know if they're the same value?

# I use the == operator.  This return True or False, depending on if they're equal

x == y

True

In [70]:
10 == 10

True

In [71]:
10 == 11

False

In [72]:
'abcd' == 'abcd'

True

In [73]:
'abcd' == 'Abcd'

False

In [74]:
'abcd' == 'abcd '

False

In [75]:
10 < 20

True

In [76]:
10 > 5

True

In [77]:
'abcd' != 'abce'  # not equal

True

In [78]:
# so we can compare with == (equal), != (not equal), <, >, <=, and >=

In [79]:
5 < 20

True

In [81]:
'a' < 'j'  # when I compare strings, it compares them alphabetically

True

In [84]:
name = input("Enter your name: ")

if name == 'Reuven':
    print('Hi, boss!')
    print('Nice to see you again!')
else:
    print(f'Hello, {name}.')

SyntaxError: invalid syntax (<ipython-input-84-82335d0dc6ab>, line 3)

# Exercise: Which comes first?

1. Ask the user to enter two words into two variables, `first` and `second`.
2. Print the word that comes first alphabetically.

In [85]:
'a' < 'b'

True

In [86]:
'apple' < 'banana'  # apple comes before banana alphabetically

True

In [87]:
'apple' < 'applesauce'

True

In [89]:
first = input("Enter first word: ")
second = input("Enter second word: ")

if first < second:
    print(f'{first} comes before {second}')
else:
    print(f'{second} comes before {first}')

Enter first word: banana
Enter second word: apple
apple comes before banana

In [90]:
'a' < 'z'

True

In [91]:
'a' < 'Z'

False

In [92]:
first = input("Enter first word: ")
second = input("Enter second word: ")

if first < second:
    print(f'{first} comes before {second}')
else:
    print(f'{second} comes before {first}')

Enter first word: car
Enter second word: car
car comes before car

In [94]:
first = input("Enter first word: ")
second = input("Enter second word: ")

if first == second:
    print(f'{first} and {second} are the same!')
else:
    if first < second:
        print(f'{first} comes before {second}')
    else:
        print(f'{second} comes before {first}')

Enter first word: car
Enter second word: truck
car comes before truck

In [ ]:
# we can check additional conditions with "elif" (meaning: "else if")

first = input("Enter first word: ")
second = input("Enter second word: ")

if first == second:
    print(f'{first} and {second} are the same!')
elif first < second:
    print(f'{first} comes before {second}')
else:
    print(f'{second} comes before {first}')

In [96]:
first = input("Enter first word: ")
second = input("Enter second word: ") 

if first < second: 
    print(f'{first} comes nefore {second}') 
else:
    print("Its the second word")

Enter first word: first
Enter second word: second
first comes nefore second

In [97]:
# logical "and" -- if we have True values on both sides, then it's True, too

x = 10
y = 20

# True and True
x == 10 and y == 20

True

In [98]:
# True  and  False
x == 10 and y == 30

False

In [100]:
# logical "or" -- if we have a True value on either side, then it's True, too

x = 10
y = 20

# True or False
x == 10 or y == 30

True

In [101]:
# logical "or" -- if we have a True value on either side, then it's True, too

x = 10
y = 20

# False or False
x == 100 or y == 300

False

In [102]:
if x == 10 or y == 30:
    print(f'One of these is what you want')

One of these is what you want

In [104]:
if x == 100 or y == 300:
    print(f'One of these is what you want')
else:
    print(f'Neither x nor y is what you want.')

Neither x nor y is what you want.

In [106]:
first = input("Enter first word: ")
second = input("Enter second word: ") 

if first < second: 
    print(f'{first} comes before {second}') 
else: 
    print("Its the second word")

Enter first word: abc
Enter second word: aaa
Its the second word

# Exercise: Name and city

1. Ask the user to enter their name (into `name`) and city (into `city`). Two uses of `input`, and two variables.
2. Print something in each case:
    - If the name and city are the same as you, indicate they're you (or your twin)
    - If the name is the same, but the city is different, say something about that.
    - If the city is the same, but the name is different, greet your neighbor.
    - If neither is the same, then say something snarky.

In [110]:
name = input("Enter your name: ")
city = input("Enter your city: ")

if name == 'Reuven' and city == "Modi'in":
    print(f'Hey!  You are me!  Or maybe I am you!')
elif city == "Modi'in":
    print(f'We both live in the same city, but have different names!')
elif name == 'Reuven':
    print(f'We have the same name, but live in different cities!')
else:
    print(f'I am nothing like you!')

Enter your name: asdfafa
Enter your city: adsfafafafa
I am nothing like you!

In [113]:
print('Hi there!') 

name = input (' Whats your your name: ') 
city = input (' and where are you from? ') 

if city == 'Sanok' and name == 'Sebastian': 
    print(f'You are my twin') 
elif name == 'Sebastian': 
    print(f' We share the same name {name}') 
elif city == 'Sanok': 
    print(f'Hellow there neighbor!') 
else:
    print(f'I would like to get to know you bit more.')

Hi there!
 Whats your your name: asdfa
 and where are you from? asdfadfaaf
I would like to get to know you bit more.

In [114]:
x = 100
y = 200

x < y

True

In [117]:
x = input("Enter a number: ")
y = input("Enter a second number: ")

Enter a number: 2
Enter a second number: 10

In [118]:
x < y

False

In [119]:
x

'2'

In [120]:
y

'10'

In [121]:
# we're going to create integers, based on our strings

int(x)  # returns an int based on the value of x

2

In [122]:
x

'2'

In [123]:
x = int(x)  # replaces the (string) value in x with the equivalent integer

In [124]:
x

2

In [127]:
x = '12345'

int(x) * 5   # don't change x, just use an integer based on it

61725

In [126]:
x = int(x)  # replace the value of x with an integer
x * 5

61725

In [128]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [129]:
# - for a long time, programmers used base 16 (hexadecimal): 0-9, a-f
#  colors on the Web are often specified as 00 - FF , because FF == 255
# decimal numbers use the digits 0-9
# - for a long time, programmers used base 8 (octal): 0-7
# binary numbers use the digits 0-1

In [130]:
# New Math, by Tom Lehrer

In [131]:
int('ff', 16)  # get an int from 'ff', interpreting it as base 16

255

In [132]:
# to turn an integer into a string, use "str"
str(5)

'5'

In [133]:
str(5) + str(10)

'510'

# Exercise: Guessing game

1. Generate a random integer from 0-100.  (I'll show you how in a moment)

```python
import random
number = random.randint(0, 100)
```

2. Print the number on the screen, to make debugging easier.
3. Ask the user to guess the number.
4. Print:
    - You got it (they guessed correctly)
    - Too low
    - Too high

In [138]:
import random
number = random.randint(0, 100)

print(f'number = {number}')

guess = input("Enter your guess: ")
guess = int(guess)  # turn the guess into an integer

if guess == number:
    print(f'You got it!')
elif guess < number:
    print(f'Too low!')
else:
    print(f'Too high!')

number = 48
Enter your guess: 100
Too high!

In [135]:
'75' == 75

False

In [140]:
eval('2 + 3')   # NEVER EVER EVER EVER EVER EVER DO THIS!

5

In [141]:
# "eval" overlaps 75% with "evil"

In [142]:
type(5)

int

In [143]:
type('5')

str

In [144]:
del(int)  # if you have defined "int" to be an integer...

NameError: name 'int' is not defined

In [145]:
s = 'abcdefghijklmnopqrstuvwxyz'

In [146]:
type(s)

str

In [147]:
# what is the length of the string? we use the "len" function
len(s)

26

In [148]:
# to grab a character from the string, we use []

s[0]  # the first character is at index 0

'a'

In [149]:
s[1] # the second character is at index 1

'b'

In [150]:
s[2]

'c'

In [151]:
# final character will be at index 25
s[25]

'z'

In [152]:
i = 23
s[i]

'x'

In [153]:
# final character will always be at len(s)-1
s[len(s)-1] # to get the final character in s

'z'

In [154]:
# another way to do this is...
s[-1]  # a negative index!

'z'

In [155]:
s[-26]

'a'

In [156]:
s[100]

IndexError: string index out of range

In [157]:
s[-100]

IndexError: string index out of range

In [158]:
s

'abcdefghijklmnopqrstuvwxyz'

In [160]:
s[0] = '!'  # strings are immutable -- they can NEVER be changed!

TypeError: 'str' object does not support item assignment

In [161]:
s

'abcdefghijklmnopqrstuvwxyz'

In [162]:
t = s + '!'
t

'abcdefghijklmnopqrstuvwxyz!'

In [164]:
# functions vs. methods
# both are the verbs of the programming world

# so far, we've only seen functions
len(s)   # FUNCTION(DATA)

26

In [166]:
# but there are also methods:
s.upper()   # DATA.METHOD()    # we cannot change our strings, so this returns a new one!

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [167]:
s

'abcdefghijklmnopqrstuvwxyz'

In [168]:
# we can capitalize a word with the .capitalize method
s.capitalize()

'Abcdefghijklmnopqrstuvwxyz'

In [170]:
# in Jupyter, I can type "s." and then use Tab to get a menu of methods


name = input("Enter your name: ")
print(f'Hello, {name}!')

Enter your name:             Reuven
Hello,             Reuven           !

In [171]:
# the .strip() method returns a new string without space characters on the outside
name.strip()

'Reuven'

In [172]:
name

'            Reuven           '

In [ ]:
name = name.strip()  # effectively removes whitespace from the user's input

In [173]:
name = input("Enter your name: ").strip()
print(f'Hello, {name}!')

Enter your name:           Reuven
Hello, Reuven!

In [174]:
name

'Reuven'

In [175]:
s

'abcdefghijklmnopqrstuvwxyz'

In [176]:
s[10]

'k'

In [177]:
s[15]

'p'

In [178]:
# what if I want all of the characters from index 10 until (not including) index 18?
# I can use a "slice"

s[10:18]  # start at 10, until (not including) 18

'klmnopqr'

In [179]:
s[5:25]

'fghijklmnopqrstuvwxy'

In [180]:
# start at the beginning of the string by not including its index
s[:15]

'abcdefghijklmno'

In [182]:
# go to the end by not including the end index
s[15:]

'pqrstuvwxyz'

In [183]:
s

'abcdefghijklmnopqrstuvwxyz'

In [184]:
# to search in a string, use the "in" operator
'c' in s

True

In [185]:
'j' in s

True

In [186]:
'jkl' in s

True

In [187]:
'jl' in s

False

In [188]:
s

'abcdefghijklmnopqrstuvwxyz'

In [189]:
s[5]  # this returns the item at index 5, aka the 6th item in s

'f'

In [190]:
'cdf' in s  # it'll look for the string "cdf" in s

False

In [191]:
s[-2:]

'yz'

# Exercise: Substring grabber

1. Ask the user to enter two inputs, each in a separate variable, `start` and `end`.   Also ask the user for a string, which you can assign to `s`.
2. If either is off the edges of the string's indexes, then ignore / scold the user.
3. If `start` is less than `end`, then print the slice from `start` to `end`.
4. Otherwise, print an error message.

In [196]:
start = input("Enter start: ")
start = int(start)

end = input("Enter end: ")
end = int(end)

s = input("Enter string: ").strip()

if start < 0:
    print(f'start is {start}, too low')
elif start > len(s)-1:
    print(f'start is {start}, too high')
elif end < 0:
    print(f'end is {end}, too low')
elif end > len(s)-1:
    print(f'end is {end}, too high')
elif start > end:
    print(f'{start} is more than {end}')
else:
    print(s[start:end])

Enter start: 2
Enter end: 10
Enter string: abcdefghijklmnop
cdefghij

# Exercise: Pig Latin

Pig Latin is a "secret" children's language.  To translate a word from English into Pig Latin, follow these two rules:

1. If the first letter is a vowel (a, e, i, o, or u) then add `way` to the word.
    - `octopus` -> `octopusway`
    - `elephant` -> `elephantway`
    - `umbrella` -> `umbrellaway`
2. In all other cases, move the first letter to the end of the word, and add `ay`
    - `computer` -> `omputercay`
    - `table` -> `abletay`
    - `papaya` -> `apayapay`
    
For this exercise, ask the user to enter a word -- one word, no punctuation, no spaces, no capital letters.

Print the translation of the word into Pig Latin.

In [198]:
word = input("Enter a word: ").strip()

if word[0] == 'a' or word[0] == 'e' or word[0] == 'i' or word[0] == 'o' or word[0] == 'u':
    print(f'{word}way')

Enter a word: air
airway

In [200]:
word = input("Enter a word: ").strip()

if word[0] in 'aeiou':
    print(f'{word}way')
else:
    print(word[1:] + word[0] + 'ay')

Enter a word: computer
omputercay

In [201]:
word = input("Enter a word: ").lower()

Enter a word: HeLlO

In [202]:
word

In [204]:
word = input("Enter a word: ").strip().lower()   # method chaining 

if word[0] in 'aeiou':
    print(f'{word}way')
else:
    print(word[1:] + word[0] + 'ay')

Enter a word:       TELEPHONE
elephonetay